# Ignore MP3
*.mp3

# Ignore image
*.jpg
*.png

# Ignore 
/ressources/music/
/ressources/images/

# https://soundcloud.com/subfocus/solar-system?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing
# https://freemusicarchive.org/ to download mp3